



/* NAVBAR */
.navbar {
    /* border: 5px solid black; */
    background-color:white !important;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.container-fluid{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row;
}

.navbar-nav{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 75%;
}
.navbar-brand{
    padding-left: 150px;
    color:#333333;
}
.navbar-brand h5{
    color: #333333;
    transition: transform 1s, color .5s;
}
.navbar-brand h5:hover{
    color: #3a86ff;
    transform:scale3d(1.1, 1.1, 1.1);
}


/* HERO */

.new-hero {
    /* border: 5px solid red; */
    display: flex;
    /* padding: 10px 40px 40px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#333333;
    margin: 0 auto;
   
}

.data-w-id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid blue; */
   
}
.img-fluid{
    max-width: 750px;
    /* height: auto;
    width: auto; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: none;
    padding: 10px;

}
.intro{
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: column;
    color: #333333;
    padding: 40px;
    
}


/* PROJECT GRID */
.container {
    justify-content: center;
    align-items: center;
    
}
.card {
    color: #333333;
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
    padding: 0px;
    border-color: #333333;
    border: 0px;
    text-align: center;
    transition: transform 1s;
}
.card:hover{
    border-color: #333333;
    transform:scale3d(1.3, 1.3, 1.3);

}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.csLink {
    color:black;
    text-decoration: none;
}
a.csLink:hover{
    text-decoration: none;
    color: black;
}

/* FORM */

.form{
    color: #333333;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid black; */

}
.formBlock{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    max-width: 800px;
    color:#333333;

    /* border: 5px solid red; */
}
.lrg{
    height: 300px;
}
#messageInput{
    height: 100px;
    color:#333333;
}
.form-control{
    /* border: 5px solid blue; */
    max-width: 100%;
    min-width: 400px;
    margin-top: 30px;
    color: #333333;
}
.btn{
    margin-top: 30px;
}

/* FOOTER */

.footer{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
   
}
